[package]
name = "reasonable"
version = "0.1.59"
authors = ["Gabe Fierro <gtfierro@mines.edu>"]
repository = "https://github.com/gtfierro/reasonable"
homepage = "https://brickschema.org/"
license-file = "LICENSE"
readme = "README.md"
description = "An OWL 2 RL reasoner with reasonable performance"
edition = "2018"

[lib]
name = "reasonable"
crate-type = ["cdylib", "lib"]
bench = false

[[bin]]
name = "reasonable"
path = "src/main.rs"
bench = false

[features]
python-library = ["pyo3"]

[dependencies]
rdf = "0.1.4"
oxigraph = { version = "0.2.3", features = ["sled"] }
farmhash = "1.1.5"
datafrog = "2.0.1"
roaring = "0.5.2"
itertools = "0.8"
disjoint-sets = "0.4.2"
log = "0.4"
env_logger = "0.7.1"
regex = "1.3.9"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
tinytemplate = "1.2.1"

[dependencies.pyo3]
version = "0.16.5"
optional = true
features = ["extension-module", "abi3-py37"]

[build-dependencies]
pyo3-build-config = { version = "0.16.5", features = ["abi3-py37"] }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "my_benchmark"
harness = false

[profile.release]
debug = true
