[tool.poetry]
name = "reasonable"
version = "0.1.50"
description = "Python interface to 'reasonable', a Datalog implementation of the OWL 2 RL profile"
authors = ["Gabe Fierro <gtfierro@mines.edu>"]
license = "bsd-3-clause"

[tool.poetry.dependencies]
python = "^3.7"
brickschema = "^0.5"

[tool.poetry.dev-dependencies]
maturin = "^0.11.3"
rdflib = "^6.0.0"

[build-system]
requires = ["maturin>=0.11,<0.12"]
build-backend = "maturin"
