[tool.poetry]
name = "reasonable"
version = "0.1.59"
description = "Python interface to 'reasonable', a Datalog implementation of the OWL 2 RL profile"
authors = ["Gabe Fierro <gtfierro@mines.edu>"]
license = "bsd-3-clause"
readme = "README.md"
homepage = "https://github.com/gtfierro/reasonable"

[tool.poetry.dependencies]
python = "^3.7"
cffi = "^1.15.1"

[tool.poetry.dev-dependencies]
maturin = "^0.13"
rdflib = "^6.1"

[build-system]
requires = ["maturin>=0.13,<0.14"]
build-backend = "maturin"
