#!/usr/bin/make -f

export PIP_DISABLE_PIP_VERSION_CHECK=1

%:
	dh $@ --with python3

override_dh_auto_build:
	rm -rf dist
	python3 -m venv debian/.build-venv
	debian/.build-venv/bin/pip install --upgrade pip
	debian/.build-venv/bin/pip install maturin
	cd python && ../debian/.build-venv/bin/maturin build --release --locked --out ../dist

override_dh_auto_install:
	debian/.build-venv/bin/pip install --no-deps --root debian/python3-reasonable --prefix /usr dist/reasonable-*.whl

override_dh_auto_clean:
	dh_auto_clean
	rm -rf dist debian/.build-venv
