name: publish-python-package

on:
  push:
    tags:
       - 'v*'

jobs:

  publish_lib_crate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup update
      - run: cargo login $CRATES_IO_TOKEN
        env:
          CRATES_IO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
      - run: cargo publish
  publish_pypi_linux:
    runs-on: ubuntu-latest
    needs: publish_lib_crate
    steps:
      - uses: actions/checkout@v2
      - run: docker run --rm -v $(pwd):/io -e PYO3_PYTHON=python3.7 konstin2/maturin:latest publish --cargo-extra-args="--features python-library" -u "${{ secrets.PYPI_USER }}" -p "${{ secrets.PYPI_PASS }}"
  publish_pypi_mac:
    runs-on: macos-latest
    needs: publish_lib_crate
    steps:
      - uses: actions/checkout@v2
      - run: rustup update && rustup target add x86_64-apple-darwin && rustup target add aarch64-apple-darwin
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: pip install 'maturin>=0.13,<0.14' cffi
      - run: maturin publish -F python-library --universal2 --no-sdist -u "${{ secrets.PYPI_USER }}" -p "${{ secrets.PYPI_PASS }}"
  publish_pypi_windows:
    runs-on: windows-latest
    needs: publish_lib_crate
    steps:
      - uses: actions/checkout@v2
      - run: rustup toolchain install stable-gnu
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: pip install 'maturin>=0.13,<0.14' cffi
      - run: maturin publish -F python-library --no-sdist -u "${{ secrets.PYPI_USER }}" -p "${{ secrets.PYPI_PASS }}"
